body {
    font-family: 'Courier New', Courier, monospace;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(50px, auto);
    width: 300px;
    height: 300px;
    font-size: 40px;
    margin: 0 auto;
}

.game-board > div {
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls {
    display: flex;
    justify-content: center;
}

.reset {
    text-align: center;
}

.text-panel {
    text-align: center;
    margin: 1.5em;
}

header {
    text-align: center;
    color: #ce973e;
    font-weight: bold;
    font-size: 35px;
    padding: 40px 0px 40px 0px;
    border-bottom: 2px solid silver;
    background-color: white;
    margin-bottom: 2em;
}